<script type="text/javascript">
  {% if cart %}
    window.pn.cart = {};
  	window.pn.cart = {{cart | json}}
    window.pn.cart.items = [];

    {% for item in cart.items %}
      var cart_item = {{item | json}};
      cart_item["collection_ids"] = [];
      {% for c in item.product.collections %}
        cart_item["collection_ids"].push({{c.id}})
        {% endfor %}
      window.pn.cart.items.push(cart_item);
    {% endfor %}

    if (typeof window.pn.cart.items == "object") {
      for (var i=0; i<window.pn.cart.items.length; i++) {
        ["sku", "vendor", "url", "image", "handle", "product_type", "product_description"].map(function(a) {
          delete window.pn.cart.items[i][a]
        })
      }
    }
  {% endif %}
</script>

{% raw %}
<script>
if(typeof pn === "undefined"){
  pn = {};
}
if(typeof pn.settings === "undefined"){
  pn.settings = {};
}
pn.settings.defaultSetting={"id":22176776,"a":"Pre Order Now ","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Back in stock in September","h":"above","i":false,"j":null,"k":null,"l":null,"m":"default","n":null,"o":true,"handle":null,"p":null,"y":null,"q":true,"r":true,"s":null,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0","partial_payment_z":"no_partial_discount","partial_payment_aa":"0.0","partial_payment_ab":0};
pn.settings.singleProductSettings=[{"id":22176779,"a":"Pré-commandez maintenant ","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Disponible mi-mars","h":"above","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"39989649899585","o":false,"handle":"nelson-floyd-d-brousse","p":"6827259232321","y":"https://cdn.shopify.com/s/files/1/0024/3066/4804/products/Untitleddesign-2022-09-10T110426.480.png?v=1669238627","q":true,"r":true,"s":0,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0","partial_payment_z":"no_partial_discount","partial_payment_aa":"0.0","partial_payment_ab":0},{"id":28001927,"a":"Pré-commandez maintenant ","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Bientôt en stock","h":"above","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"44068942446907","o":false,"handle":"nelons-floyd-x-undz-dbrousse-et-bamboo","p":"8032000639291","y":"https://cdn.shopify.com/s/files/1/0024/3066/4804/products/1_0660a7c7-ea87-4abe-b914-6d90a60e5ea5.png?v=1672844435","q":true,"r":true,"s":0,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0","partial_payment_z":"no_partial_discount","partial_payment_aa":"0.0","partial_payment_ab":0},{"id":28001925,"a":"Pré-commandez maintenant ","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Bientôt en stock","h":"above","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"44068942381371","o":false,"handle":"nelons-floyd-x-undz-dbrousse-et-bamboo","p":"8032000639291","y":"https://cdn.shopify.com/s/files/1/0024/3066/4804/products/1_0660a7c7-ea87-4abe-b914-6d90a60e5ea5.png?v=1672844435","q":true,"r":true,"s":0,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0","partial_payment_z":"no_partial_discount","partial_payment_aa":"0.0","partial_payment_ab":0},{"id":28001921,"a":"Pré-commandez maintenant ","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Bientôt en stock","h":"above","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"44068942348603","o":false,"handle":"nelons-floyd-x-undz-dbrousse-et-bamboo","p":"8032000639291","y":"https://cdn.shopify.com/s/files/1/0024/3066/4804/products/1_0660a7c7-ea87-4abe-b914-6d90a60e5ea5.png?v=1672844435","q":true,"r":true,"s":0,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0","partial_payment_z":"no_partial_discount","partial_payment_aa":"0.0","partial_payment_ab":0},{"id":28001924,"a":"Pré-commandez maintenant ","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Bientôt en stock","h":"above","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"44068942315835","o":false,"handle":"nelons-floyd-x-undz-dbrousse-et-bamboo","p":"8032000639291","y":"https://cdn.shopify.com/s/files/1/0024/3066/4804/products/1_0660a7c7-ea87-4abe-b914-6d90a60e5ea5.png?v=1672844435","q":true,"r":true,"s":0,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0","partial_payment_z":"no_partial_discount","partial_payment_aa":"0.0","partial_payment_ab":0},{"id":27578767,"a":"Pré-commandez maintenant ","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Bientôt en stock","h":"above","i":false,"j":"Pré-commandez","k":null,"l":null,"m":"variant","n":"43725696368955","o":false,"handle":"copie-de-nelson-floyd-chrurchill-huile-a-barbe","p":"7998353080635","y":"https://cdn.shopify.com/s/files/1/0024/3066/4804/products/Untitleddesign-2022-11-07T155736.742.png?v=1668099320","q":true,"r":true,"s":65,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0","partial_payment_z":"no_partial_discount","partial_payment_aa":"0.0","partial_payment_ab":0},{"id":28001926,"a":"Pré-commandez maintenant ","b":false,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Bientôt en stock","h":"above","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"44068942414139","o":false,"handle":"nelons-floyd-x-undz-dbrousse-et-bamboo","p":"8032000639291","y":"https://cdn.shopify.com/s/files/1/0024/3066/4804/products/1_0660a7c7-ea87-4abe-b914-6d90a60e5ea5.png?v=1672844435","q":true,"r":true,"s":0,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0","partial_payment_z":"no_partial_discount","partial_payment_aa":"0.0","partial_payment_ab":0},{"id":27582553,"a":"Pré-commandez maintenant ","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Bientôt en stock","h":"above","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"43725695582523","o":false,"handle":"nelson-floyd-chrurchill-huile-a-barbe","p":"7998352916795","y":"https://cdn.shopify.com/s/files/1/0024/3066/4804/products/nelsonetfloyd-churchille-huileabarbe.png?v=1668099072","q":true,"r":true,"s":70,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0","partial_payment_z":"no_partial_discount","partial_payment_aa":"0.0","partial_payment_ab":0},{"id":27582552,"a":"Pré-commandez maintenant ","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"Bientôt en stock","h":"above","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"43725695582523","o":false,"handle":"nelson-floyd-chrurchill-huile-a-barbe","p":"7998352916795","y":"https://cdn.shopify.com/s/files/1/0024/3066/4804/products/nelsonetfloyd-churchille-huileabarbe.png?v=1668099072","q":true,"r":true,"s":70,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0","partial_payment_z":"no_partial_discount","partial_payment_aa":"0.0","partial_payment_ab":0}];
pn.settings.tagSettings=[];
</script>
<style type="text/css">
  .pn-original-subtotal{
    text-decoration: line-through;
    display:inline-block;
  }
  .pn-discounted-subtotal{
    font-weight:bold;
    margin-left:20px;
    display:inline-block;
    font-size: 1.3em;
  }

  .pn-line-item-original-price {
    text-decoration: line-through;
  }

  .pn-line-item-discounted-price {
    font-size: 1.2em;
    margin-left: 8px;
  }
</style>
{% endraw %}


<div id="pn-mixed-cart-warning" class="pn-modal">
  <div id="pn-mixed-cart-warning-content">
    <span id="pn-modal-close-btn">x</span>
    <p class="pn-mixed-cart-heading" id="pn-mixed-cart-warning-title"></p>
    <div id="pn-mixed-cart-warning-text"></div>
  </div>
</div>